/* .Chatbot-App {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
} */
/* .chatbot-box {
    display: flex;
    justify-content: center;
} */
/* .chatbot-app {
    width: 100%;
    height: 100%;
} */
