/* .Chatbot-App {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
} */
/* .chatbot-box {
    display: flex;
    justify-content: center;
} */
/* .chatbot-app {
    width: 100%;
    height: 100%;
} */
.chatbot-app img {
    background: transparent;
    max-width: 100%;
    height: auto;
    padding: 20px;
    padding-right: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bubble {
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 300px;
    background: linear-gradient(
        93.12deg,
        paleturquoise 0.52%,
        rgb(192, 244, 192) 100%
    );
    border-radius: 40px;
    padding: 15px;
    text-align: center;
    color: #000;
    margin-top: 100px;
    margin-left: 25%;
}

.bubble-bottom-left:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-right: 24px solid rgb(192, 244, 192);
    border-left: 12px solid transparent;
    border-top: 12px solid rgb(192, 244, 192);
    border-bottom: 20px solid transparent;
    right: 32px;
    bottom: -24px;
}

/* .bounce {
    animation: bounce 3s ease 1;
}
@keyframes bounce {
    70% {
        transform: translateY(20%);
    }
    80% {
        transform: translateY(-30%);
    }
    90% {
        transform: translateY(0%);
    }
    95% {
        transform: translateY(-20%);
    }
    97% {
        transform: translateY(0%);
    }
    99% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
    }
} */
.bounce {
    animation: bounce 2s ease 3;
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(35%);
    }
    100% {
        transform: translateY(0);
    }
}

/* .bounce {
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
} */

.hithere {
    animation: hithere 1s ease 2;
}

@keyframes hithere {
    30% {
        transform: scale(1.2);
    }
    40%,
    60% {
        transform: rotate(-20deg) scale(1.2);
    }
    50% {
        transform: rotate(20deg) scale(1.2);
    }
    70% {
        transform: rotate(0deg) scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
